*.class
build
target

# Package Files #
*.war
*.ear

# Project and Dist Files #
/HotelReservation/dist/
/HotelReservation/nbproject/private

/HotelReservationClient/dist/
/HotelReservationClient/nbproject/private

/LameDuck/dist/
/LameDuck/nbproject/private/

/LameDuckClient/dist
/LameDuckClient/nbproject/private/

/TravelGoodSoap/dist/

/TravelGoodBPELModule/nbproject/private/

/travelGoodApp/dist/
/travelGoodApp/nbproject/private/
/travelGoodApp/src/jbiServiceUnits/
/travelGoodApp/test/results/


/TravelGoodREST/nbproject/private/
/TravelGoodREST/dist/

/travelGoodTest/nbproject/private/
/testTravelGood/nbproject/private/
/testTravelGood/dist/
/TravelGoodBPELApp/nbproject/private/
/TravelGoodBPELApp/test/results/
/TravelGoodBPELApp/src/jbiServiceUnits/
/TravelGoodBPELApp/dist/
/TravelGoodBPELClient/nbproject/private/
/TravelGoodBPELClient/dist/