*.class
build
target

# Package Files #
*.war
*.ear
/HotelReservationClient/dist/
/LameDuck/dist/
/HotelReservation/dist/
/LameDuckTest/dist
/TravelGoodSoap/dist/
/TravelGoodBPELModule/nbproject/private/
/travelGoodApp/nbproject/private/
/travelGoodApp/src/jbiServiceUnits/
/travelGoodApp/dist/
/travelGoodApp/test/results/
/travelGoodTest/nbproject/private/
/testTravelGood/nbproject/private/