*.class
build
target

# Package Files #
*.war
*.ear

# Project and Dist Files #
/HotelReservation/nbproject/private
/HotelReservation/dist/

/HotelReservationClient/nbproject/private
/HotelReservationClient/dist/

/LameDuck/nbproject/private/
/LameDuck/dist/

/LameDuckClient/nbproject/private/
/LameDuckClient/dist

/TravelGoodSoap/nbproject/private/
/TravelGoodSoap/dist/

/TravelGoodBPELModule/nbproject/private/
/TravelGoodBPELModule/dist/

/TravelGoodBPELApp/nbproject/private/
/TravelGoodBPELApp/test/results/
/TravelGoodBPELApp/src/jbiServiceUnits/
/TravelGoodBPELApp/dist/

/TravelGoodBPELClient/nbproject/private/
/TravelGoodBPELClient/dist/

/TravelGoodREST/nbproject/private/
/TravelGoodREST/dist/

/TravelGoodRESTClient/nbproject/private/
/TravelGoodRESTClient/dist
/TravelGoodBPELClient-/nbproject/private/
/TravelGoodBPELModule-/nbproject/private/
/Common/nbproject/private/
/Common/dist/